<!--
TABS ARE 4 SPACES
VAR NAMING IS variable_name
KEEP IT UNDER 80 COLUMNS (as much as possible)
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name = 'viewport' content = 'width = device-width' initial-scale=1 meta-charset = "utf-8">
    {% load staticfiles %}
</head>
<style>
    body {
        background-image: url("{% static 'learn/assets/background.png' %}");
    }
</style>

<body>

    <div class = heading>
        <h1 class = "col-xs-12 col-sm-8 col-sm-offset-2 title">Miles Per Knowledge</h1>
        <h4 class = "col-xs-12 col-sm-8 col-sm-offset-2 subtitle">learn while you fly</h4>
        <h5 class = "col-xs-12 col-sm-8 col-sm-offset-2">Enter your flight information to
                                                see what you could learn!</h5>
    </div>
    <form class = "col-xs-12 col-sm-12 test" method="POST">
        {% csrf_token %}
        <input  name = "depart_id" id = "depart_id"
                class = "col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 input"
                placeholder= "Departure Airport / City">
        </input>
        <input  name = "arrive_id" id = "arrive_id"
                class = "col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 input"
                placeholder= "Arrival Airport / City">
        </input>
        <div class = "heading"><p class = "col-xs-12">{{failure}}</p><div>
        <button id = "submit_flight_btn"
                name = "search_flight" type="submit"
                class = "col-xs-12 col-sm-4 col-md-2 col-md-offset-5 col-sm-offset-4 button">
            Go</button>
    </form>
</body>

<!-- Bootstrap Resources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel='stylesheet' href="{% static 'learn/bootstrap/css/bootstrap.min.css' %}" type ='text/css'/>
<script src = "{% static 'learn/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Dashboard Resources -->
<link rel='stylesheet' href="{% static 'learn/search.css' %}" type = 'text/css'/>
<script src = "{% static 'learn/search.js' %}"></script>
</html>
